.env
*.pyc
__pycache__/
*.egg-info/
.venv/
.pytest_cache/
backend/db/*.sqlite
backend/db/*.sqlite-*
build/
dist/
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock
mobile/android/key.properties
mobile/android/*.keystore
mobile/android/*.jks
mobile/android/local.properties
mobile/ios/Pods/
mobile/ios/Runner.xcworkspace/xcuserdata/
mobile/ios/Runner.xcodeproj/xcuserdata/
mobile/ios/Flutter/Flutter.framework
mobile/ios/Flutter/Flutter.podspec
mobile/ios/Flutter/Generated.xcconfig
mobile/ios/Flutter/flutter_export_environment.sh
*.log
.DS_Store
